
.actions
{
  margin:0 0 1em 0;
}

#logs
{
  height:300px;
  padding:1em;
  overflow:auto;
}

small
{
  font-color:#999;
}

.tab-pane .panel
{
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}